* {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
body {
  background-color: $background-color_1;
  font-family: $font-family_1;
  size: 30 px;
}
main {
  height: 100vh;
}
p {
  font-family: $font-family_1;
  size: 15 px;
  color: $color_1;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
  color: $color_1;
}
input {
  margin-left: 10px;
  padding-top: 10px;
  border: 1px solid black;
}
textarea {
  margin-left: 100px;
  border: 1px solid black;
}
form {
  text-align: center;
}
.boton {
  padding: 0px;
  border: 1px solid black;
  padding-bottom: 5px;
  padding-top: 5px;
}
.uno {
  margin-left: 100px;
}
.dos {
  margin-left: 50px;
}
.imgcar {
  max-width: 500px;
  height: 300px;
}
.carousel-inner {
  img {
    margin: auto;
  }
}
.car {
  padding-bottom: 40px;
}
.formulario {
  padding-top: 40px;
}
.formulario {
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 20%;
  max-width: 200px;
  margin: 0 auto;
}

.img {
  display: flex;
  justify-content: center;
}
.epigrafe {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  width: 200px;
  margin-left: 40%;
}
.li {
  font-size: 20px;
}
.lista {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.vid {
  display: flex;
  justify-content: center;
}
.redes {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.mapa {
  display: flex;
  justify-content: center;
}
.enlaces {
  display: flex;
  justify-content: end;
}
.row {
  margin-right: auto;
  margin-left: auto;
}
.centrador {
  display: flex;
  justify-content: center;
}
.centrar {
  text-align: center;
}
.stock {
  width: 400px;
  height: 400px;
}
.botonera {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  margin-left: 0px;
  align-items: center;
  cursor: pointer;
}
.cartas{
    display: flex;
    justify-content: center;
  }
  .textarea{
    margin-left: 0px;
  }
  .input{
    padding-top: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
  
  }