*{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
@mixin textoCentrado{
  text-align: center;
}
body {
  background-color: $background-color_1;
  font-family: $font-family_1;
}
main {
  height: 100vh;
}
p {
  font-family: $font-family_1;
  font-size: 15 px;
  font-weight: bold;
  color: $color_1;
  margin-left: 100px;
  margin-right: 100px;
  @include textoCentrado;

}
h1 {
  @include textoCentrado;
}
h2 {
  @include textoCentrado;
}
h3{
  font-size: 20px;
}
a {
  text-decoration: none;
  color: $color_1;
  text-align: center;
}
input {
  margin-left: 10px;
  padding-top: 10px;
  border: 1px solid black;
}
textarea {
  margin-left: 100px;
  border: 1px solid black;
}
form {
  @include textoCentrado;
}
.boton {
  padding: 0px;
  border: 1px solid black;
  padding-bottom: 5px;
  padding-top: 5px;
}
.uno {
  margin-left: 100px;
}
.dos {
  margin-left: 50px;
}
.imgcar {
  width: 850px;
  height: 400px;
}
.carousel-inner {
  img {
    margin: auto;
  }
}
.carousel{
  width: 850px;
  height: 400px;
}
.car {
  padding-bottom: 40px;
}

.formulario {
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
  border: 2px solid black;
}

.img {
  display: flex;
  justify-content: center;
}
.epigrafe {
  border-bottom: 1px solid black;
  display: flex;
  text-align: center;
  width: 200px;
  margin-left: 40%;
}
.li {
  font-size: 20px;
  font-weight: bold;
}
.lista {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.vid {
  display: flex;
  justify-content: center;
}
.redes {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}
.mapa {
  display: flex;
  justify-content: center;
  width:100%;
}
.enlaces {
  display: flex;
  justify-content: end;
}
.row {
  margin-right: auto;
  margin-left: auto;
}
.centrador {
  display: flex;
  justify-content: center;
}
.centrar {
  @include textoCentrado;
}
.stock {
  width: 400px;
  height: 400px;
}
.btn{
  background-color: black;
  border-color: black;
  cursor: pointer;
}
.btn:hover{
  background-color: white;
  color: grey;
  border-color: white;
}
.cartas{
    display: flex;
    justify-content: center;
    width:80%;
    padding-bottom: 20px;
  }
  .textarea{
    margin-left: 0px;
    border: inset 2px black;
  }
  .input{
    padding-top: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
 .paddingbot{
  padding-bottom: 20px;
 }
 .consultas{
  padding-top: 100px;
 }